Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.16/.Runtime/burst-llvm-16-arm64.dll filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.16/.Runtime/burst-llvm-16.dll filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.16/.Runtime/libburst-llvm-10.dylib filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.16/.Runtime/libburst-llvm-16.dylib filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.16/.Runtime/libburst-llvm-16.so filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.16/.Runtime/hostmac/dsymutil filter=lfs diff=lfs merge=lfs -text
